# Puerto en el que correrá el servidor local
PORT=4000

# URL de conexión directa a la base de datos PostgreSQL
DATABASE_URL="postgresql://<USER>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>?schema=public"

# Clave secreta para la firma y verificación de los tokens JWT
JWT_SECRET="clave_secreta"

# Credenciales para la inicialización segura de la Base de Datos (Seed)
ADMIN_EMAIL="admin@tu-dominio.com"
ADMIN_PASSWORD="ContrasenaSeguraDeEjemplo123"